
01-hola-mundo/node_modules/
02-fundamentos/node_modules/
03-bases-node/node_modules/
04-tareas-terminal/node_modules/
05-clima-app/node_modules/


03-bases-node/salida/*.txt
04-tareas-terminal/*.json
05-clima-app/db/*.json
